$titles:  'Poppins', sans-serif; // for titles
$normal: 'Roboto', sans-serif; //for text
$second-normal: 'Playfair Display', serif; //just in case

// Colors
$white: #F4F9F9;
$light-blue: #CCF2F4;
$blue: #A4EBF3;
$dark-blue: #39A2DB;
$gray: #AAAAAA;
$black: #132C33;
$purple: #C490E4;
$purple-hover: #AC66CC;
//Fonts
$regular: 400;
$medium: 600;
$bold: 700;
//Seperations
$separation: 5rem;
// Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;