$titles:  'Poppins', sans-serif; // for titles
$normal:  'Amita', cursive;

// Colors
$black: #000;
$white: #fff;
$gray: #c4c4c4;
$light-gray: #f1f1f1;
$blue: #67B4FB;
$light-blue: #A2DBFA;

$purple: #B980F0;
$purple-alt: #AC66CC;
//Fonts
$light: 300;
$regular: 400;
$medium: 600;
//Seperations
$separation: 5rem;
// Queries
$phone: 520px;
$tablet: 768px;
$desktop: 1024px;