.thx {
    padding: 2rem;
}

.thx__content {
    @include tablet {
        @include grid(2, $separation / 2);
    }
}
.thx-img__container{
	justify-self: center;
}
.thx-text__container {
    font-family: $normal;
    margin: 0 0 0.6rem 0;
    font-weight: $regular;

}
